html {
    font-size: 10px;
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 2.2rem;
    color: #fff;
    background-color: #0d1117;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media all and (min-width: 1280px) {
    .container {
        height: auto;
        width: 90%;
    }
    
    .content {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        height: 100vh;
        width: 100%;
        padding: 1% 0;
        box-sizing: border-box;
        margin: 0 auto;
    }
    
    .content--image {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    
    .slide-item {
        height: 100%;
        border-radius: 3%;
        z-index: 1;
    }
    
    .content--title {
        width: 85%;
    }
    
    .content--slider {
        width: 15%;
        min-width: 140px;
        display: flex;
        justify-content: end;
    }
    
    .dots-item {
        display: inline-block;
        width: 25px;
        height: 25px;
        box-sizing: border-box;
        border: none;
        border-radius: 50%;
        margin-right: 12px;
        background: #1f6feb;
    }
    
    .dots-item:hover {
        cursor: pointer;
        background: #8b949e;
    }
    
    .dots-item:last-child {
        margin: 0;
    }
    
    .active {
        background: #000000;
        border: 5px solid #1f6feb;
    }
}

@media all and (min-width: 768px) and (max-width: 1279px) {
    body {
        font-size: 1.8rem;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .container {
        height: auto;
        width: 90%;
        background-color: #0d1117;
    }
    
    .content {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        height: 100vh;
        width: 100%;
        padding: 1%;
        box-sizing: border-box;
    }
    
    .content--image {
        display: flex;
        flex-direction: row;
        justify-content: center;    
        width: 100%;
    }
    
    .slide-item {
        max-width: 97%;
        border-radius: 3%;
        z-index: 1;
    }
    
    .content--title {
        width: 85%;
    }
    
    .content--slider {
        width: 15%;
        max-width: 115px;
        display: flex;
        justify-content: end;
    }
    
    .dots-item {
        display: inline-block;
        width: 21px;
        height: 21px;
        box-sizing: border-box;
        border: none;
        border-radius: 50%;
        margin-right: 10px;
        background: #1f6feb;
    }
    
    .dots-item:hover {
        cursor: pointer;
        background: #8b949e;
    }
    
    .dots-item:last-child {
        margin: 0;
    }
    
    .active {
        background: #000000;
        border: 4px solid #1f6feb;
    }
}

@media all and (min-width: 320px) and (max-width: 767px) {
    body {
        font-size: 1.5rem;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .container {
        height: auto;
        width: 90%;
        background-color: #0d1117;
    }
    
    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-height: 100vh;
        width: 100%;
        padding: 3% 1%;
        box-sizing: border-box;
    }
    
    .content--image {
        order: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;    
        width: 100%;
    }
    
    .slide-item {
        max-width: 97%;
        border-radius: 3%;
        z-index: 1;
    }
    
    .content--title {
        order: 3;
    }
    
    .content--slider {
        order: 2;
        margin: 4% 0;
    }
    
    .dots-item {
        display: inline-block;
        width: 25px;
        height: 25px;
        box-sizing: border-box;
        border: none;
        border-radius: 50%;
        margin-right: 12px;
        background: #1f6feb;
    }
    
    .dots-item:hover {
        cursor: pointer;
        background: #8b949e;
    }
    
    .dots-item:last-child {
        margin: 0;
    }
    
    .active {
        background: #000000;
        border: 5px solid #1f6feb;
    }
}
